@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Revalia&family=Slackey&family=Stalinist+One&family=The+Girl+Next+Door&display=swap');
@import 'tailwindcss';

@theme {
     --default-font-family: "Karla-Regular", sans-serif;
}

/* :root {
    --default-font-family: "Inter", sans-serif;
}

body {
    font-family: var(--default-font-family);
} */

@font-face {
    font-family: "Girly Personal";
    src: url("../public/Girly-Personal.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Karla-Regular";
    src: url("../public/Karla-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}